<blockquote>Schedule will be adjusted as needed during the semester.</blockquote>
  <% for (const item of items.pop().schedule) { %>
  <h3 class=> <%= item.date_range %></h3>
  <h4 class="<%= item.no_class ? 'no-class' : 'primary' %>"> <%= item.topic %></h4>
  <ul>
    <% for (const detail of item.details) { %>
    <li><%- detail %></li>
    <% } %>
  </ul>
  <% if (item.due_date) { %>
  <strong>Assignment Due Date:</strong> <%= item.due_date %>
  <% } %>
<% } %>

<img src="content/images/schedule.webp" alt="lecture" width="100%">

If you are looking for what is the next step, here are some [related courses](https://geospatial.ncsu.edu/geoforall/courses.html).